<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>COVID-19 Over Time</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">COVID-19 Over Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{#  <div class="collapse navbar-collapse" id="navbarText">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Features</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Pricing</a>#}
{#      </li>#}
{#    </ul>#}
{#    <span class="navbar-text">#}
{#      Navbar text with an inline element#}
{#    </span>#}
{#  </div>#}
</nav>
<div class="container" style="padding-top: 5%">
    <div class="row">
        <div class="col-sm">
            <form method="POST" action="/result">
                <div class="form-group">
                    <label for="exampleInputEmail1">State</label>
                    <input type="state" class="form-control" id="state" name="state" aria-describedby="stateHelp"
                           placeholder="California">
                    <small id="stateHelp" class="form-text text-muted">Please do not abbreviate. Ex: California</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">County</label>
                    <input type="county" class="form-control" id="county" name="county" aria-describedby="stateHelp"
                           placeholder="Orange">
                    <small id="countyHelp" class="form-text text-muted">Please do not include the word 'County'. Ex:
                        Orange</small>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 5%">
    <div class="row">
        <div class="col-sm">
            <span>This data is graciously provided by The New York Times. Please see the license <a href="https://github.com/nytimes/covid-19-data/blob/master/LICENSE">here</a>. The New York Times and the developer do not accept any responsibility for the content of this website. It exists as-is, for a not-for-profit educational purposes related to our current public health crisis.<br /><br />This content is not endorsed by The New York Times - they only supply the <a href="https://github.com/nytimes/covid-19-data">data</a>.</span>
            <br><br><span>The site is still under construction. Check back for more features!</span>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>